<!DOCTYPE html>
<html>
  <head>
    <title>NLP Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/web3.min.js"></script>
    <script src="./js/connect.js"></script>
  </head>

  <div class="bg">
    <div class="topnav">
      <a href="/">NLP11</a>
      <a href="/submissions">Submissions</a>
    </div>
    <body class="text-center" >
        <div class="row">
        <h1 style="color: cornflowerblue;">Predicted Genres</h1>
        <b style="color: #e95e01; font-size: large;">The following predictions were calculated using a logisitic regression model.</b> <br>
        <% if(predictions !== null){ %>
        
              <ul class="color-with-marker">
                <% for(var i=0; i<predictions.length; i++) { %>
                    <li>
                        <%= predictions[i] %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    
        <a href="/"><button class="btn btn-primary btn-lg outline">Try another movie plot!!</button></a>
    </div>

    </body>
  </div>
</html>